@media (max-width: 768px){
    .mobileTd{
        display: flex;
        flex-direction: collum;
        text-align: right;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }

    .mobileTd::before{
        content: attr(data-label);
        font-weight: 500;
        color: #fffbeb;
    }

    .mobileTr{
        display: block;
        margin-bottom: 8px;
    }

    .thead{
        display: none;
    }
}